{% extends 'layout.twig' %}
{% block content %}    
<form action="/send_email_forgot" method="post" style="max-width: 300px;" >
    <input type="email" name="email" placeholder="enter your email"/>
    <input type="submit" type="submit" value="Submit" /><br>
</form>
{% endblock %}








