{% extends 'layout.twig' %}
{% block content %}    
<form action="/action_pass_forgot" method="post" style="max-width: 300px;" >
    <input type="text" name="sms" placeholder="enter your phone number"/>
    <input type="submit" type="submit" value="Submit" /><br>
</form>
{% endblock %}