{% block content %}
<h4>Please verify your email </h4>
{% endblock %}




<!-- 

 {% extends 'layout.twig' %}	

  {% block content %}
      
      <h1>
      	{{message}}
      </h1> <br />
      <h2>
      	{{error.status}}
      </h2><br />
<p>error.stack</p>


  {% endblock %}
   -->