<header>
		<div ng-controller="ProfileCtrl"  class="container-fluid custom-container">
			<div class="row no_row row-header">
				<div class="brand-be">
					<a href="/">
						<img class="logo-c active be_logo"  src="img/logo.png" alt="logo">
						<img class="logo-c be_logo" src="img/logo-green.png" alt="logo2">
						<img  class="logo-c be_logo" src="img/logo-orang.png" alt="logo3">
						<img class="logo-c be_logo" src="img/logo-red.png" alt="logo4">
					</a>
				</div>
				<div ng-controller="ProfileCtrl">
				
		 <!--   <div ng-if="equals({}, profile._id)"> -->
	
			<!-- </div> -->
				
                <div class="login-header-block">
					<div class="login_block">																	
						<a class="notofications-popup" href="#/messages">
							<i class="fa fa-bell-o"></i>
							<span class="noto-count">23</span>
						</a>
						<div class="noto-popup notofications-block">
						<div class="m-close"><i class="fa fa-times"></i></div>
							<div class="noto-label">Your Notification</div>
							<div class="noto-body">
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c1.png" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Ravi Sah</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<a href="#/messages" class="noto-message">Start following your work</a>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c6.jpg" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Louis Paquet</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												Saved “<a href="#/messages">Omni-onepage app template</a>” to Inspiration
												<a class="portfolio-link type-2 clearfix" href="#/messages">
													<img src="img/p_link_23.jpg" alt="">
													<img src="img/p_link_31.jpg" alt="">
													<img src="img/p_link_32.jpg" alt="">
													<img src="img/p_link_33.jpg" alt="">
													<img src="img/p_link_34.jpg" alt="">
													<div class="color_bg">
														<span>view portfolio</span>
														<span class="child"></span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c7.jpg" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">v-a studio</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												<a class="noto-left" href="#/messages">
													<img src="img/n_pop_1.jpg" alt="">
												</a>
												Saved “<a href="#/messages">Omni-onepage app template</a>” to Inspiration
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c8.jpg" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Hoang Nguyen</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												<a class="noto-left" href="#/messages">
													<img src="img/n_pop_2.jpg" alt="">
												</a>
												Awesome, love the big whitespace and also everything between :)
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c9.jpg" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Cüneyt ŞEN</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<a href="#/messages" class="noto-message">
												Start following your work
											</a>
										</div>
									</div>
								</div>												
							</div>							
						</div>
						<a class="messages-popup" href="#/messages">
							<i class="fa fa-envelope-o"></i>
							<span class="noto-count">4</span>
						</a>
						<div class="noto-popup messages-block">
						    <div class="m-close"><i class="fa fa-times"></i></div>
							<div class="noto-label">Your Messages <span class="noto-label-links"><a href="messages-2.html">compose</a><a href="messages.html">View all messages</a></span></div>
							<div class="noto-body">
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c1.png" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Ravi Sah</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">Sed velit mauris, pulvinar sit amet accumsan vitae, egestas, pulvinar sit amet accumsan vitae, egestas</div>
										</div>
									</div>
								</div>
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c6.jpg" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Louis Paquet</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
											Pellentesque habitant morbi tristique senectus et netus tristique senectus
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c9.jpg" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Cüneyt ŞEN</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												Sed id erat vitae libero malesuada dictum vel sit amet eros
											</div>
										</div>
									</div>
								</div>								
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">	
											<a href="#/messages">
												<img src="img/c10.jpg" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="#/messages">Tomasz Mazurczak</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												In molestie libero quis cursus ullamcorper eu rhoncus magna
											</div>
										</div>
									</div>
								</div>												
							</div>							
						</div>
						<div class="be-drop-down login-user-down">
							<img class="login-user" src="img/login.jpg" alt="">
						
							<div class="drop-down-list a-list">
								<a href="#/myportfolio">My Portfolio</a>
								<a href="#/">Statistics </a>
								<a href="#/claims">My Claims</a>
								<a href="#/myportfolio-information">Account Settings</a>
								<a href="#/">Logout</a>
							</div>
						</div>
					</div>	
				</div>
				</div>
				
				<!--  -->
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul class="header-menu" id="one">
						<li><a href="#/home">Home</a></li>
						<li><a href="#/discover/explore">Discover</a>
							<ul>
								<li><a href="#/discover/explore">Explore</a></li>
								<li><a href="#/discover/people">People</a></li>
								<li><a href="#/discover/gallerie">Galleries</a></li>
								<li><a href="#/discover/youtube">Videos</a></li>
							</ul>
						</li>
						<li><a href="#/challenges">Challenges</a></li>
						<li><a href="#/myportfolio">My Portfolio</a></li>
						  

					</ul>
				</div>
			</div>
		</div>
	</header>