<!doctype html>
<html>
<head>
    <title>NodeJS Template</title>
    <link rel="stylesheet"  href="test.css">
</head>
<body class="test">
<h1>NodeJS Template!</h1>
{% block content %}{% endblock %}
</body>
</html>
