<div id="content-block">
		<div class="container-fluid custom-container be-detail-container">
			<div class="isotope-grid row">
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p16.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/line_2.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/line_3.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a10.jpg" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p17.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava.png" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/line_3.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a6.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p18.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_6.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-thumbs-o-up"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>											
						<div class="author-post">
							<img src="img/a8.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p15.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_7.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-thumbs-o-up"></i></span></div>
						</div>										
						<div class="author-post">
							<img src="img/a1.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p14.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_11.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="author-post">
							<img src="img/a5.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p12.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_8.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="author-post">
							<img src="img/a4.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">

					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p8.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/line_2.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/line_3.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a10.jpg" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">

					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p7.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava.png" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_4.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a6.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Watson</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">

					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p2.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/line_1.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-thumbs-o-up"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/line_3.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a10.jpg" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p10.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_7.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-thumbs-o-up"></i></span></div>
						</div>										
						<div class="author-post">
							<img src="img/a1.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p9.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_11.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a5.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p11.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_8.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a4.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p19.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_8.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a4.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p4.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_11.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a5.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p2.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_6.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-thumbs-o-up"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>											
						<div class="author-post">
							<img src="img/a8.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p5.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_7.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-thumbs-o-up"></i></span></div>
						</div>										
						<div class="author-post">
							<img src="img/a1.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p3.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_7.jpg" alt="">
							<div class="rowline-text">Louis Paquet <span class="rowline-icon"><i class="fa fa-thumbs-o-up"></i></span></div>
						</div>										
						<div class="author-post">
							<img src="img/a1.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
				<div class="isotope-item col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					<div class="be-post style-5">
						<a href="page1.html" class="be-img-block">
						<img src="img/p1.jpg" alt="omg">
						</a>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_5.jpg" alt="">
							<div class="rowline-text">Leigh Taylor <span class="rowline-icon"><i class="fa fa-comment-o"></i></span></div>
						</div>
						<div class="be-rowline">
							<img class="rowline-img" src="img/ava_8.jpg" alt="">
							<div class="rowline-text">Phoenix, the Creative Studio <span class="rowline-icon"><i class="fa fa-pencil"></i></span></div>
						</div>												
						<div class="author-post">
							<img src="img/a4.png" alt="" class="ava-author">
							<span>by <a href="page1.html">Paweł Skupień</a></span>
							<span class="pull-right"><i class="fa fa-thumbs-o-up"></i> 225</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>