<div ng-contrller="RegisterCtrl" >
{{myVar}}
<br><br><br><br><br>
<div ng-controller="RegisterCtrl">
    {{myVar}}
    <form action="/register" method="post" style="max-width: 300px;">
        <input type='text' , name="username" placeholder='Enter
Username' />
        <input type="password" name="password" placeholder='Password' />
        <br>
        <input type="email" name="email" placeholder='Email' />
        <br>
        <input type="submit" type='submit' value="Submit" />
        <input type="reset" value="Cancel" />
    </form>
    <a href="#/oauth">Retour</a>
</div>


</div>
