<div id="content-block">
  <div class="container-fluid custom-container be-detail-container">
    <div class="row">
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p1.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">EngineThemes Re-design</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a1.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p2.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Mochiice ne concept</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a1.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p3.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Kross.pl redesign</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a2.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p4.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Surf Board</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a3.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p5.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Iniq-x</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a4.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p6.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Ink UI Kit - iOS Screens for Photoshop & Sketch</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a5.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p7.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Ex Machina Social</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a6.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p8.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">National Geographic - The Endangered Species (Concept)</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a7.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p9.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Viber Brand Identity and not only</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a7.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p10.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Vespa - Responsive Redesign</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a8.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p11.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Bukku - Free HTML/CSS Book/eBook Template</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a5.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p12.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Watch it - Concept</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a6.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p13.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Market - Highly Selective Marketplace for Creatives</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a5.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p14.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">REIS FREE FONT BY MARCELO REIS MELO</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a1.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
      <div class="col-ml-12 col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="be-post">
          <a href="page1.html" class="be-img-block">
            <img src="img/p15.jpg" alt="omg">
          </a>
          <a href="page1.html" class="be-post-title">Mad Max Fury Road - Official Site and Vehicle Showcase</a>
          <span>
            <a href="page1.html" class="be-post-tag">Interaction Design</a>,
            <a href="page1.html" class="be-post-tag">UI/UX</a>,
            <a href="page1.html" class="be-post-tag">Web Design</a>
          </span>
          <div class="author-post">
            <img src="img/a9.png" alt="" class="ava-author">
            <span>by <a href="page1.html">Hoang Nguyen</a></span>
          </div>
          <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i> 360</span>
            <span><i class="fa fa-eye"></i> 789</span>
            <span><i class="fa fa-comment-o"></i> 20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
