<div id="content-block">
		<div class="container be-detail-container">
			<h2 class="content-title">Our Blog</h2>
			<div class="blog-wrapper blog-list">
				<div class="blog-filter">
					<a href="blog-detail-2.html" class="btn color-4 size-2 hover-9">concepts</a>
					<a href="blog-detail-2.html" class="btn color-4 size-2 hover-9">drawing</a>
					<a href="blog-detail-2.html" class="btn color-4 size-2 hover-9">streetart</a>
					<a href="blog-detail-2.html" class="btn color-4 size-2 hover-9">new</a>
					<a href="blog-detail-2.html" class="btn color-4 size-2 hover-9">people</a>
				</div>
				<div class="blog-post">
					<div class="row">
						<div class="col-xs-12 col-sm-7">
							<a class="post-preview post-image" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_1.jpg" alt=""></a>
						</div>
						<div class="col-xs-12 col-sm-5">
							<div class="post-desc">
								<div class="post-category">Concepts, Drawing</div>
								<a class="post-label" href="blog-detail.html">Space Monkey</a>
								<div class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non efficitur velit. Duis semper eros id tempor facilisis. Suspendisse molestie nunc at massa iaculis, at iaculis dolor blandit. Pellentesque non pulvinar dolor, vitae convallis urna. Nulla egestas magna vel massa aliquam, quis placerat massa pretium.</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a>, April 23, 2015</span>
								</div>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>
					</div>
				</div>
				<div class="blog-post">
					<div class="row">
						<div class="col-xs-12 col-sm-7">
							<div  class="post-preview">
								<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
					                <div class="swiper-wrapper">
				                    	<div class="swiper-slide active" data-val="0">
				                    		 <img class="img-responsive img-full" src="img/blog_2.jpg" alt="">
				                    	</div>
				                    	<div class="swiper-slide" data-val="1">
				                    		 <img class="img-responsive img-full" src="img/blog_3.jpg" alt="">
				                    	</div>
				                    	<div class="swiper-slide" data-val="2">
				                    		 <img class="img-responsive img-full" src="img/blog_1.jpg" alt="">
				                    	</div>
				                    </div>
					                <div class="pagination hidden"></div>
					                <div class="swiper-arrow-left type-2 type-3"></div>
					                <div class="swiper-arrow-right type-2 type-3"></div>
					            </div>
				            </div>
						</div>
						<div class="col-xs-12 col-sm-5">
							<div class="post-desc">
								<div class="post-category">Art, Street, Drawing</div>
								<a class="post-label" href="blog-detail.html">Street Art on the London big wall</a>
								<div class="post-text">Morbi efficitur feugiat erat a efficitur. Donec interdum, nunc ac elementum auctor, dui nisl placerat odio, eget sagittis sem neque venenatis libero. Vestibulum pharetra sollicitudin urna nec eleifend.Suspendisse id augue ut nunc vestibulum euismod. Donec a libero ut lectus ullamcorper rhoncus vel quis erat. Nunc ornare sed dolor sed mattis.</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a>, April 23, 2015</span>
								</div>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>
					</div>
				</div>
				<div class="blog-post">
					<div class="row">
						<div class="col-xs-12 col-sm-7">
							<a class="post-preview post-image" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_3.jpg" alt=""></a>
						</div>
						<div class="col-xs-12 col-sm-5">
							<div class="post-desc">
								<div class="post-category">News, People, Ideas</div>
								<a class="post-label" href="blog-detail.html">Gorge Newman has an idea</a>
								<div class="post-text">Suspendisse ultricies erat sit amet orci scelerisque, nec sagittis libero iaculis. Curabitur a nulla ut velit imperdiet efficitur eget at leo. Proin nec condimentum risus. Phasellus eget ipsum non mi sodales commodo. Vivamus tincidunt arcu eget libero lacinia, ut sollicitudin nisl accumsan. lacus. Sed venenatis enim massa, ac rhoncus ex iaculis at. Ut tempor</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a>, April 23, 2015</span>
								</div>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>
					</div>
				</div>
				<div class="blog-post">
					<div class="row">
						<div class="col-xs-12 col-sm-7">
							<div class="post-preview embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/80414492"></iframe>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5">
							<div class="post-desc">
								<div class="post-category">Video, Creative</div>
								<a class="post-label" href="blog-detail.html">Wonderfull pasterize video play</a>
								<div class="post-text">Vestibulum molestie odio erat, et feugiat lorem euismod ut. Aliquam in orci sem. Aenean mauris enim, feugiat non iaculis vel, efficitur eget nisl. Nunc tristique hendrerit dignissim. Suspendisse sed facilisis dui. Suspendisse nisl dui, posuere quis euismod sed, faucibus id odio. Lorem ipsum dolor</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a>, April 23, 2015</span>
								</div>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>
					</div>
				</div>
				<div class="pagination clearfix">
					<a class="btn color-4 hover-9 page-left" href="blog-detail-2.html">prev page</a>
					<a class="btn color-4 hover-9 page-right" href="blog-detail-2.html">next page</a>					
					<div class="pages">
						<a class="btn color-5 hover-9" href="blog-detail-2.html">1</a>
						<a class="btn color-5 hover-9" href="blog-detail-2.html">2</a>
						<a class="btn color-5 hover-9" href="blog-detail-2.html">3</a>
						<a class="btn color-5 hover-9" href="blog-detail-2.html">4</a>
						<a class="btn color-5 hover-9" href="blog-detail-2.html">...</a>
						<a class="btn color-5 hover-9" href="blog-detail-2.html">10</a>
					</div>

				</div>
			</div>
		</div>
	</div>