<div id="content-block">
		<div class="container be-detail-container">
			<h2 class="content-title">Our Blog</h2>
			<div class="blog-wrapper blog-grid">
				<div class="blog-filter">
					<a class="btn color-4 size-2 hover-9">concepts</a>
					<a class="btn color-4 size-2 hover-9">drawing</a>
					<a class="btn color-4 size-2 hover-9">streetart</a>
					<a class="btn color-4 size-2 hover-9">new</a>
					<a class="btn color-4 size-2 hover-9">people</a>
				</div>
				<div class="row">
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<a class="post-preview post-image" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_grid_1.jpg" alt=""></a>
							<div class="post-desc">
								<div class="post-category">Interaction Design, UI/UX, Web Design</div>
								<a class="post-label" href="blog-detail.html">Fusce dolor libero</a>
								<div class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non efficitur velit. Duis semper eros id tempor facilisis. Suspendisse molestie nunc at massa iaculis, at iaculis dolor blandit. Pellentesque non pulvinar dolor</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>					
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>
							<a class="post-preview post-image play" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_grid_2.jpg" alt=""></a>
							<div class="post-desc">
								<div class="post-category">Vector, Art</div>
								<a class="post-label" href="blog-detail.html">Monkey in da Space</a>
								<div class="post-text">Morbi efficitur feugiat erat a efficitur. Donec interdum, nunc ac elementum auctor, dui nisl placerat odio, eget sagittis sem neque venenatis libero</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>					
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<a class="post-preview post-image" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_grid_3.jpg" alt=""></a>
							<div class="post-desc">
								<div class="post-category">Kids, Vector, Drawing</div>
								<a class="post-label" href="blog-detail.html">Vector for kids</a>
								<div class="post-text">Duis ornare rutrum consectetur. Proin tincidunt a ex blandit cursus. Suspendisse ultricies erat sit amet orci scelerisque, nec sagittis libero iaculis. Curabitur a nulla ut velit imperdiet Vilacinia, ut sollicitudin nisl accumsan.</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>						
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<div class="post-preview simple-slider">
								<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
					                <div class="swiper-wrapper">
				                    	<div class="swiper-slide active" data-val="0">
				                    		 <img class="img-responsive img-full" src="img/blog_grid_4.jpg" alt="">
				                    	</div>
				                    	<div class="swiper-slide" data-val="1">
				                    		 <img class="img-responsive img-full" src="img/blog_grid_1.jpg" alt="">
				                    	</div>
				                    	<div class="swiper-slide" data-val="2">
				                    		 <img class="img-responsive img-full" src="img/blog_grid_8.jpg" alt="">
				                    	</div>
				                    </div>
					                <div class="pagination"></div>
					            </div>
					        </div>								
							<div class="post-desc">
								<div class="post-category">Interaction Design, UI/UX, Web Design</div>
								<a class="post-label" href="blog-detail.html">Polygonal footbolists</a>
								<div class="post-text">Ut tempor, nulla at consectetur iaculis, nunc lorem tincidunt enim, quis commodo neque eros quis lacus. Nam vel ipsum consequat, dapibus ipsum ac, consectetur massa. Vestibulum molestie odio</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>						
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<a class="post-preview post-image" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_grid_5.jpg" alt=""></a>
							<div class="post-desc">
								<div class="post-category">Vector, Art, Kids</div>
								<a class="post-label" href="blog-detail.html">Some vector animals</a>
								<div class="post-text">Suspendisse nisl dui, posuere quis euismod sed, faucibus id odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius velit a est facilisis mollis. Quisque posuere finibus tellus, ut sodales sapien aliquet et.</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>						
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<div class="post-preview simple-slider">
								<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
					                <div class="swiper-wrapper">
				                    	<div class="swiper-slide active" data-val="0">
				                    		 <img class="img-responsive img-full" src="img/blog_grid_6.jpg" alt="">
				                    	</div>
				                    	<div class="swiper-slide" data-val="1">
				                    		 <img class="img-responsive img-full" src="img/blog_grid_8.jpg" alt="">
				                    	</div>
				                    	<div class="swiper-slide" data-val="2">
				                    		 <img class="img-responsive img-full" src="img/blog_grid_9.jpg" alt="">
				                    	</div>
				                    </div>
					                <div class="pagination"></div>
					            </div>
							</div>
							<div class="post-desc">
								<div class="post-category">Kids, Vector, Drawing</div>
								<a class="post-label" href="blog-detail.html">Wonderfull magic house</a>
								<div class="post-text">Mauris consectetur purus at volutpat porta. Praesent nisl metus, euismod et porttitor sed, dictum sit amet eros. Aliquam convallis odio et eros dapibus pharetra. Donec dictum justo non iaculis malesuada</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>						
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<a class="post-preview post-image play" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_grid_7.jpg" alt=""></a>
							<div class="post-desc">
								<div class="post-category">Video, Street</div>
								<a class="post-label" href="blog-detail.html">Street atr in London</a>
								<div class="post-text">Ut tempor, nulla at consectetur iaculis, nunc lorem tincidunt enim, quis commodo neque eros quis lacus. Nam vel ipsum consequat, dapibus ipsum ac, consectetur massa. Vestibulum molestie odio</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>						
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<a class="post-preview post-image" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_grid_8.jpg" alt=""></a>
							<div class="post-desc">
								<div class="post-category">Vector, Art, Kids</div>
								<a class="post-label" href="blog-detail.html">Ideas for life</a>
								<div class="post-text">Rum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla nulla neque, pulvinar nec iaculis tempor, iaculis non lorem. Mauris sit amet pharetra nibh. Donec dui magna</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>						
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="blog-post">
							<div class="post-header clearfix">
								<div class="post-date">
									<i class="fa fa-clock-o"></i> April 23, 2015
								</div>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="blog-detail-2.html">Hoang Nguyen</a></span>
								</div>
							</div>						
							<a class="post-preview post-image" href="blog-detail.html"><img class="img-responsive img-full" src="img/blog_grid_9.jpg" alt=""></a>
							<div class="post-desc">
								<div class="post-category">Kids, Vector, Drawing</div>
								<a class="post-label" href="blog-detail.html">Woman</a>
								<div class="post-text">Vivamus pellentesque justo a urna tincidunt sagittis eget quis nunc. Curabitur nec est non tortor rutrum consequat ac vel neque. Nunc finibus vestibulum ex, sit amet posuere nisi ornare quis.</div>
								<a class="btn color-1 size-2 hover-1" href="blog-detail.html">Read more</a>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>																
							</div>
						</div>						
					</div>																																			
				</div>
			</div>
		</div>
	</div>