<div id="content-block" class="gallery-block">
		<div class="head-bg">
			<div class="head-bg-img"></div>
			<div class="head-bg-content">
				<h1>Curated Galleries</h1>
               <a class="be-register btn color-3 size-1 hover-6"><i class="fa fa-event"></i>Create Challenge</a>

			</div>	
		</div>
		<div class="custom-container gallery-container">
			<div class="container">
				<iframe src="http://the-issues.herokuapp.com/#/details/57175ab10000000300000004" width="1100" height="500"></iframe>


			 </div>
 		</div>
	</div>