<br /><br />
<div  id="content-block " > 
<div class="container be-detail-container">
<div class="row">
<div class="col-xs-12 col-sm-12">
<div class="be-large-post">
	<div class="info-block style-2">
		<div class="be-large-post-align">
				<h3 class="info-block-label">Nouveau Post</h3>
		</div>
   </div>
   <div class="be-large-post-align">
   <form action="/media", method="POST" enctype="multipart/form-data">  
      	<div class="form-group">
				<div class="form-label">Titre</div>									
				 <input class="form-input" type="text" required name="titre" placeholder="Enter Titre">
		</div>							
		<div class="form-group">
				<div class="form-label">Description</div>
				<textarea class="form-input" required name="desc" placeholder="Enter Desc"></textarea>
		</div>
         <input type="file" name="media" value="Choisir" class="btn full color-4 size-1 hover-1" required="required" />
             
         

        <input type="submit" name="Ajouter" class="btn full color-1 size-1 hover-1" value="AJouter" /> 
</form>
</div>
</div>
</div>				
</div>
</div>				
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br />