  <br><br><br><br><br><br>
  <div >      
        <form action="/ResetPassword" method="post" style="max-width: 300px;" >
         password:   <input type="password" name="pass" placeholder=""/> <br />
            confirm password: <input type="password" name="conf"
                   placeholder=""/> <br>
        <input type="hidden" name="token" value={{token}}> </input>
           
            <input type="submit" type="submit" value="Submit" /><br>
    
        </form>

    
    </div>
    <br><br><br><br><br><br>