<div id="content-block">
		<div class="container be-detail-container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 left-feild">
					<a href="author-login.html" class="btn color-4 size-1 hover-7"><i class="fa fa-chevron-left"></i> back to profile</a>
					<a href="page1.html" class="btn btn-right color-1 send-btn size-1 hover-1"><i class="fa fa-envelope-o"></i> compose</a>

					<form>
						<div class="noto-header clearfix">
							<div class="form-checkbox">
						    	<input class="select-all" id="ch1" type="checkbox" value="" > <span class="check"><i class="fa fa-check"></i></span>
						    	<label for="ch1">select all</label>
							</div>
							<div class="stat-sort be-drop-down">
								<span class="be-dropdown-content">actions</span>
								<ul class="drop-down-list">
									<li><a>Featured</a></li>
									<li><a>Most Appreciated</a></li>
									<li><a>Most Viewed</a></li>
									<li><a>Most Discussed</a></li>
									<li><a>Most Recent</a></li>
									<li><a>Edit</a></li>
									<li><a>Delete</a></li>
								</ul>
							</div>							
						</div>
						<div class="noto-entry style-3">
							<div class="noto-content clearfix">
								<div class="form-checkbox">
								    <input type="checkbox" value=""> <span class="check"><i class="fa fa-check"></i></span>
								</div>							
								<div class="noto-img">	
									<a href="page1.html">
										<img src="img/c1.png" alt="" class="be-ava-comment">
									</a>
								</div>
								<div class="noto-text">
									<div class="noto-text-top">
										<span class="noto-name"><a href="page1.html">Ravi Sah</a></span>
										<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
									</div>
									<div class="noto-message">Sed velit mauris, pulvinar sit amet accumsan vitae, egestas, pulvinar sit amet accumsan vitae, egestas</div>
								</div>
							</div>
						</div>
						<div class="noto-entry style-3">
							<div class="noto-content clearfix">
								<div class="form-checkbox">
								    <input type="checkbox" value=""> <span class="check"><i class="fa fa-check"></i></span>
								</div>							
								<div class="noto-img">	
									<a href="page1.html">
										<img src="img/ava_3.jpg" alt="" class="be-ava-comment">
									</a>
								</div>
								<div class="noto-text">
									<div class="noto-text-top">
										<span class="noto-name"><a href="page1.html">Louis Paquet</a></span>
										<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
									</div>
									<div class="noto-message">Pellentesque habitant morbi tristique senectus et netus...</div>
								</div>
							</div>
						</div>
						<div class="noto-entry style-3">
							<div class="noto-content clearfix">
								<div class="form-checkbox">
								    <input type="checkbox" value=""> <span class="check"><i class="fa fa-check"></i></span>
								</div>							
								<div class="noto-img">	
									<a href="page1.html">
										<img src="img/ava_5.jpg" alt="" class="be-ava-comment">
									</a>
								</div>
								<div class="noto-text">
									<div class="noto-text-top">
										<span class="noto-name"><a href="page1.html">Cüneyt ŞEN</a></span>
										<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
									</div>
									<div class="noto-message">Sed id erat vitae libero malesuada dictum vel sit amet eros</div>
								</div>
							</div>
						</div>
						<div class="noto-entry style-3">
							<div class="noto-content clearfix">
								<div class="form-checkbox">
								    <input type="checkbox" value=""> <span class="check"><i class="fa fa-check"></i></span>
								</div>							
								<div class="noto-img">	
									<a href="page1.html">
										<img src="img/ava_8.jpg" alt="" class="be-ava-comment">
									</a>
								</div>
								<div class="noto-text">
									<div class="noto-text-top">
										<span class="noto-name"><a href="page1.html">Tomasz Mazurczak</a></span>
										<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
									</div>
									<div class="noto-message">In molestie libero quis cursus ullamcorper eu rhoncus maa</div>
								</div>
							</div>
						</div>																	
					</form>										            					
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="be-large-post">
						<div class="info-block style-2">
							<div class="be-large-post-align">
								<h3 class="info-block-label">New Message</h3>
							</div>
						</div>
						<div class="be-large-post-align">
							<form>
								<div class="form-group">
										<div class="form-label">To</div>									
										<input class="form-input" type="text" placeholder="Enter user name">
									</div>							
								<div class="form-group">
									<div class="form-label">Your Message</div>
									<textarea class="form-input" required placeholder="Reply to Louise Paquet"></textarea>
								</div>
								<button class="btn btn-right color-4 size-2 hover-7">cancel</button>								
								<button class="btn btn-right color-1 size-2 hover-1">send</button>						
							</form>
						</div>
					</div>				
				</div>
			</div>

			
		</div>
	</div>